
{% extends 'index.html'  %}

{% block content %}

    <section id="anchor-name" class="row bg-black">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2 style="color:white">DRILLER'S DASHBOARD</h2>
                <h4 style="color:white">Perform your mud rheology analysis here</h4>
                <br>
            </div>
            <form action="rheology" method="POST">
                {% csrf_token %}
                <div class="row">
                	<div class="col-md-4"  style="color: white">
				        <div>
				        	Result : {{ result }} | 
				        	Model : {{ model }}
				        	
				        	Total Annular Pressure Loss:
		                    <label class="btn btn-success">{{ tap }} psi</label> 	
				        </div>
				        <br>  
				        <div>
				        	Total Internal Pressure Loss:
		                    <label class="btn btn-success">{{ tip }} psi</label>	
				        </div>
				        <br>   
				        <div>
				        	Parasitic Loss:
		                    <label class="btn btn-success">{{ tpl }} psi</label>	
				        </div>
				        <br> 				         
				        <div>
				        	Hydraulic HP Pump Pressure:
		                    <label class="btn btn-success">{{ tpph }} psi</label>	
				        </div>  
				        <br>
				        <div>
				        	Hydraulics Bit Size (1/32 in):
		                    <label class="btn btn-success">{{ hhpbs }}</label>	
				        </div> 	
				        <br>			        
				        <div>
				        	Jet Impact Pump Pressure:
		                    <label class="btn btn-success">{{ tppj }} psi</label>	
				        </div>
				        <br>  
				        <div>
				        	Jet Impact Bit Size (1/32 in):
		                    <label class="btn btn-success">{{ jifbs }}</label>	
				        </div> 
				        <br> 
				        <div>
				        	Equivalent Circulating Density:
		                    <label class="btn btn-success">{{ ecd }} ppg</label>	
				        </div>            		
                	</div>
		            <div class="col-md-6">
		                <div class="card  bg-black">
		                    <div class="card-header">
		                        <div class="card-title" style="color: white">Rheology Visualization:</div>
		                    </div>
		                    <div class="card-body">
		                        <div class="chart-container">
		                            <canvas id="multipleLineChart" height="400"></canvas>
		                        </div>
		                    </div>
		                </div>
		            </div> 
                   <div class="nav nav-pills">
                        <a class="wow fadeInUp animated" data-wow-delay="1s" href="{% url 'home' %}">Go back to mud/well data</a>
                   </div>	                           	
                </div>       
            </form>            
        </div>             
    </section>
{% endblock %}

{% block javascripts %}
	<script>
		var multipleLineChart = document.getElementById('multipleLineChart').getContext('2d');
		var myMultipleLineChart = new Chart(multipleLineChart, {
			type: 'line',
			data: {
				labels: [{% for shear_rate in SR %}"{{ shear_rate }}",{% endfor %}],
				datasets: [{
					label: "Shear stress",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [{% for shear_stess in S %}{{ shear_stess }},{% endfor %}]
				},{
					label: "Bingham",
					borderColor: "#59d05d",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#59d05d",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [{% for bingham in BP %}{{ bingham }},{% endfor %}]
				}, {
					label: "Power",
					borderColor: "#f3545d",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#f3545d",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [{% for power in PL %}{{ power }},{% endfor %}]
				}, {
					label: "Herchel",
					borderColor: "#cccc33",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#cccc33",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [{% for herchel in YP %}{{ herchel }},{% endfor %}]
				}
				]
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position: 'top',
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				}
			}
		});
	</script>
{% endblock javascripts %}		