
{% extends 'base.html'  %}

{% block content %}

    <section id="anchor-name" class="row bg-black">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2 style="color:white">DRILLER'S DASHBOARD</h2>
                <h4 style="color:white">Perform your mud rheology analysis here</h4>
                <br>
            </div>
            <div class="row">
            	<div class="col-md-4"> 
	            	<div class="card-body">
	            		<table class="table"  style="color: white">
	            			<tbody>
		            			<tr>
		            				<td>
		            					<div> 
							        	Model : 	
							        	</div>
		            				</td>
		            				<td>
		            					<div>{{ model }} {{ result }}
							        	</div>
		            				</td>
		            			</tr>
		            			<tr>
		            				<td>
							        	Total Annular Pressure Loss:
							        	</div>
		            				</td>
		            				<td>
		            					<div><label class="btn btn-success">{{ tap }} psi</label> 	
							        	</div>
		            				</td>	
		            			</tr>
		            			<tr>
		            				<td>
		            					<div>Total Internal Pressure Loss:
						        		</div>
		            				</td>
		            				<td>
		            					<div>
						        		<label class="btn btn-success">{{ tip }} psi</label>
						        		</div>	
		            				</td>
		            			</tr>
		            			<tr>
		            				<td>
		            					<div>
								        	Parasitic Loss:	
								        </div>
		            				</td>
		            				<td>
		            					<label class="btn btn-success">{{ tpl }} psi</label>
		            				</td>
		            			</tr>
		            			<tr>
		            				<td>
		            					Hydraulic HP Pump Pressure:
		            				</td>
		            				<td>
		            					<label class="btn btn-success">{{ tpph }} psi</label>
		            				</td>
		            			</tr>
		            			<tr>
		            				<td>
		            					Hydraulics Bit Size (1/32 in):
		            				</td>
		            				<td>
		            					<label class="btn btn-success">{{ hhpbs }}</label>
		            				</td>
		            			</tr>
		            			<tr>
		            				<td>
		            					Jet Impact Pump Pressure:
		            				</td>
		            				<td>
		            					<label class="btn btn-success">{{ tppj }} psi</label>
		            				</td>
		            			</tr>
		            			<tr>
		            				<td>
		            					Jet Impact Bit Size (1/32 in):
		            				</td>
		            				<td>
		            					<label class="btn btn-success">{{ jifbs }}</label>
		            				</td>
		            			</tr>
		            			<tr>
		            				<td>
		            					Equivalent Circulating Density:
		            				</td>
		            				<td>
		            					<label class="btn btn-success">{{ ecd }} ppg</label>
		            				</td>
		            			</tr>
	            			</tbody>
	            		</table>
	            	</div>            		
            		
            	</div>
	            <div class="col-md-6">
	                <div class="card  bg-black">
	                    <div class="card-header">
	                        <div class="card-title" style="color: white">Rheology Visualization:</div>
	                    </div>
	                    <div class="card-body">
	                        <div class="chart-container">
	                            <canvas id="multipleLineChart" height="400"></canvas>
	                        </div>
	                    </div>
	                </div>
	            </div> 
               <div class="nav nav-pills">
                    <a class="wow fadeInUp animated" data-wow-delay="1s" href="{% url 'home' %}">Go back to mud/well data</a>
               </div>
            </div>	              
        </div>             
    </section>
{% endblock %}

{% block javascripts %}
	<script>
		var multipleLineChart = document.getElementById('multipleLineChart').getContext('2d');
		var myMultipleLineChart = new Chart(multipleLineChart, {
			type: 'line',
			data: {
				labels: [{% for shear_rate in SR %}"{{ shear_rate }}",{% endfor %}],
				datasets: [{
					label: "Shear stress",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [{% for shear_stess in S %}{{ shear_stess }},{% endfor %}]
				},{
					label: "Bingham",
					borderColor: "#59d05d",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#59d05d",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [{% for bingham in BP %}{{ bingham }},{% endfor %}]
				}, {
					label: "Power",
					borderColor: "#f3545d",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#f3545d",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [{% for power in PL %}{{ power }},{% endfor %}]
				}, {
					label: "Herchel",
					borderColor: "#cccc33",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#cccc33",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 4,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 2,
					data: [{% for herchel in YP %}{{ herchel }},{% endfor %}]
				}
				]
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position: 'top',
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				}
			}
		});
	</script>
{% endblock javascripts %}		