
{% extends 'base.html'  %}

{% block content %} 
    <!-- Slider area -->
    <section class="slider_area row m0">
        <div class="slider_inner">
            <div data-thumb="static/drilltool/images/slider-1.jpg" data-src="static/drilltool/images/slider-1.jpg">
                <div class="camera_caption">
                   <div class="container">
                        <h5 class=" wow fadeInUp animated">Welcome to our</h5>
                        <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">MODERN, EFFICIENT FLOW ANALYTICS TOOL</h3>
                        <p class=" wow fadeInUp animated" data-wow-delay="0.8s">Our flow professional tool will help you ease your flow line challenges.</p>
                        <a class=" wow fadeInUp animated" data-wow-delay="1s" href="#driller-dashboard">Quick Analysis</a>
                   </div>
                </div>
            </div>
            <div data-thumb="static/drilltool/images/slider-2.jpg" data-src="static/drilltool/images/slider-2.jpg">
                <div class="camera_caption">
                   <div class="container">
                        <h5 class=" wow fadeInUp animated">Welcome to our</h5>
                        <h3 class=" wow fadeInUp animated" data-wow-delay="0.5s">FLOW LINE ANALYTICS FOR EVERYONE</h3>
                        <p class=" wow fadeInUp animated" data-wow-delay="0.8s">Our team of professionals will help you turn your dream home or flat into a reality fast. The Love Boat promises something for everyone. Now the world don't move to the beat of just one</p>
                        <a class=" wow fadeInUp animated" data-wow-delay="1s" href="#more-aboutus">Read More</a>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider area -->

    <section></section>
    <!-- Professional Builde -->
    <section id="driller-dashboard" class="row bg-black">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2 style="color:white">DRILLER'S DASHBOARD</h2>
                <h4 style="color:white">Perform your mud rheology analysis here</h4>
                <br>
            </div>
            <form action="rheology" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="background:#484848">
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="num1" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Viscometer reading @600rpm :</label>
                            </div>    
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="num2" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Viscometer reading @300rpm :</label>
                            </div>                           
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="background:#484848">
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="num3" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Viscometer reading @200rpm :</label>
                            </div>    
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="num4" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Viscometer reading @100rpm :</label>
                            </div>                           
                        </div>
                    </div>  
                    <div class="col-md-4">
                        <div class="card" style="background:#484848">
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="num5" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Viscometer reading @6rpm :</label>
                            </div>    
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="num6" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Viscometer reading @3rpm :</label>
                            </div>                          
                        </div>     
                    </div>                                        
                </div> 
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="background:#484848">
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="flowrate" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Flow rate, gpm :</label>
                            </div>    
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="mudweight" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Mud weight, ppg :</label>
                            </div>                           
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="background:#484848">
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="welld" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Well depth, ft :</label>
                            </div>    
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="drillpipel" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Drill pipe length (ft) :</label>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="casingl" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Casing length (ft) :</label>
                            </div>    
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="drillcollarl" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Drill collar length (ft) :</label>
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-4">
                        <div class="card" style="background:#484848">
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="drillpipeo" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Drill pipe outer diameter (in) :</label>
                            </div>    
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="drillpipei" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Drill pipe inner diameter (in) :</label>
                            </div>
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="drillcollaro" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Drill collar outer diameter (in) :</label>
                            </div>    
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="drillcollari" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Drill collar inner diameter (in) :</label>
                            </div> 
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="casingsize" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Casing size (in) :</label>
                            </div>    
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="holesize" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Hole size (in) :</label>
                            </div>               
                        </div>     
                    </div>                                        
                </div>                 
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="background:#484848">
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="temp" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Downhole Temperature [F] :</label>
                            </div>    
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="psi" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Downhole Presure [psi] :</label>
                            </div>                          
                        </div>     
                    </div> 
                    <div class="col-md-2">
                        <div class="card" style="background:#484848">
                            <div class="form-check form-check-inline">
                                <input id="inputFloatingLabel2" type="checkbox" name="inlineCheckbox1" class="form-check-input">
                                <label for="inputFloatingLabel2" class="form-check-label"style="color:white">Oil Based Mud</label>
                            </div>    
                            <div class="form-check form-check-inline" style="color:white">
                                <input id="inputFloatingLabel2" type="checkbox" name="num6" class="form-check-input">
                                <label for="inputFloatingLabel2" class="form-check-label" style="color:white">Water Based Mud</label>
                            </div>                          
                        </div>     
                    </div>                         
                    <div class="col-md-4">
                        <input type="submit" name="">  
                    </div>
                </div>       
            </form>            
        </div>             
    </section>
    <!-- End Professional Builde -->

    <!-- Professional Builder -->
    <section id="piper-dashboard" class="row bg-primary">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2 style="color:white">PIPER'S DASHBOARD</h2>
                <h3 style="color:white">Branch reinforcement calculation</h3>
                <br>
            </div>
            <!-- Header Pipe -->
            <form action="reinforcement" method="POST">
                {% csrf_token %}
                <h3 style="color:white">Header Specifications</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="background:#484848">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">MOC :</span>
                                    </div>
                                    <div class="input-group">
                                        <select class="form-control"  name="HeadMaterial" id="moc">
                                          <option value="1">API 5L Grade A</option>
                                          <option value="2">API 5L Grade B</option>
                                          <option value="3">ASTM A53 Grade A</option>
                                          <option value="4">ASTM A53 Grade B</option>
                                          <option value="5">ASTM A106 Grade A</option>
                                          <option value="6">ASTM A106 Grade B</option>
                                          <option value="7">ASTM A333 Grade 6</option>
                                          <option value="8">ASTM A333 Grade 9</option>
                                          <option value="9">ASTM A312 TP 304</option>
                                          <option value="10">ASTM A312 TP 304H</option> 
                                          <option value="11">ASTM A312 TP 304L</option> 
                                          <option value="12">ASTM A312 TP 316</option>
                                          <option value="13">ASTM A312 TP 316H</option>
                                          <option value="14">ASTM A312 TP 316L</option>
                                          <option value="15">ASTM A312 TP 317</option>
                                          <option value="16">ASTM A312 TP 347</option>   
                                          <option value="17">ASTM A312 TP 347H</option>
                                          <option value="18">ASTM A312 TP 348</option>
                                          <option value="19">ASTM A312 TP 348H</option>
                                        </select>  
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">NPS :</span>
                                    </div>
                                    <div class="input-group">
                                        <input id="inputFloatingLabel2" type="text" name="hnpd" class="form-control input-solid" required>   
                                    </div>
                                    <div class="input-group-btn">
                                        <select class="form-control" name="hnpd_unit" id="hnpd_unit">
                                            <option value="mm">mm</option>
                                            <option value="inch">inch</option>
                                        </select>   
                                    </div>
                                </div>                                 
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <div class="card" style="background:#484848">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">Wall Thickness :</span>
                                    </div>
                                    <div class="input-group-append">
                                        <select for="basic-addon3" class="form-control" name="h_thick">
                                            <option value="1">Sch 5</option>
                                            <option value="2">Sch 5S</option>
                                            <option value="3">Sch 10</option>
                                            <option value="4">Sch 10S</option>    
                                            <option value="5">Sch 20</option>
                                            <option value="6">Sch 30</option>
                                            <option value="7">Sch 40</option>
                                            <option value="8">Sch 40S</option>
                                            <option value="9">Sch 60</option>
                                            <option value="10">Sch 80</option>
                                            <option value="11">Sch 80S</option> 
                                            <option value="12">Sch 100</option>
                                            <option value="13">Sch 120</option>
                                            <option value="14">Sch 140</option>
                                            <option value="15">Sch 160</option>
                                            <option value="16">STD</option>
                                            <option value="17">XS</option>
                                            <option value="18">XXS</option>
                                        </select>   
                                    </div>
                                </div>
                            </div>    
                            <div class="form-group form-inline">
                                <div class="input-group">
                                    <div for="inlineinput" class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">Corrosion allowance :</span>
                                    </div>
                                    <input id="inlineinput" type="text" name="ch" class="form-control input-solid" required>  
                                    <div class="input-group-btn">
                                        <select class="form-control" name="h_ca_unit" id="h_ca_unit">
                                            <option value="mm">mm</option>
                                            <option value="inch">inch</option>
                                        </select>   
                                    </div>    
                                </div>
                            </div>    
                            <div class="form-group form-inline">
                                <div class="input-group">
                                    <div for="inlineinput" class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">Stress allowance :</span>
                                    </div>
                                    <input id="inlineinput" type="text" name="HStress" class="form-control input-solid" required>  
                                    <div class="input-group-btn">
                                        <select class="form-control" name="h_ca_unit" id="h_ca_unit">
                                            <option value="mm">psi</option>
                                            <option value="inch">bar</option>
                                        </select>   
                                    </div>    
                                </div>
                            </div>                
                        </div>
                    </div>  
                    <div class="col-md-4">
                        <div class="card" style="background:#484848">
                            <div class="form-group form-inline">
                                <div class="input-group">
                                    <div for="inlineinput" class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">Mill Tolerance :</span>
                                    </div>
                                    <input id="inlineinput" type="text" name="MillTolerance" class="form-control input-solid" required>  
                                    <div class="input-group-btn">
                                        <select class="form-control" name="h_mt_unit" id="h_mt_unit">
                                            <option value="%">%</option>
                                            <option value="mm">mm</option>
                                            <option value="inch">inch</option>
                                        </select>   
                                    </div>    
                                </div>
                            </div>    
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">Construction :</span>
                                    </div>
                                    <div class="input-group-append">
                                        <select for="inputFloatingLabel2" class="form-control" name="HeadConstruction">
                                          <option value="1">Seamless</option>
                                          <option value="2">EFW</option>
                                          <option value="3">ERW</option>
                                          <option value="4">FBW</option>
                                        </select>   
                                    </div>
                                </div>        
                            </div>                 
                        </div>     
                    </div>                                        
                </div> 
                <!-- End of Header -->

                <!-- Branch Pipe -->
                <h3 style="color:white">Branch Specifications</h3>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="background:#484848">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">MOC :</span>
                                    </div>
                                    <div class="input-group">
                                        <select class="form-control" name="BranchMaterial" id="BranchMaterial">
                                          <option value="1">API 5L Grade A</option>
                                          <option value="2">API 5L Grade B</option>
                                          <option value="3">ASTM A53 Grade A</option>
                                          <option value="4">ASTM A53 Grade B</option>
                                          <option value="5">ASTM A106 Grade A</option>
                                          <option value="6">ASTM A106 Grade B</option>
                                          <option value="7">ASTM A333 Grade 6</option>
                                          <option value="8">ASTM A333 Grade 9</option>
                                          <option value="9">ASTM A312 TP 304</option>
                                          <option value="10">ASTM A312 TP 304H</option> 
                                          <option value="11">ASTM A312 TP 304L</option> 
                                          <option value="12">ASTM A312 TP 316</option>
                                          <option value="13">ASTM A312 TP 316H</option>
                                          <option value="14">ASTM A312 TP 316L</option>
                                          <option value="15">ASTM A312 TP 317</option>
                                          <option value="16">ASTM A312 TP 347</option>   
                                          <option value="17">ASTM A312 TP 347H</option>
                                          <option value="18">ASTM A312 TP 348</option>
                                          <option value="19">ASTM A312 TP 348H</option>
                                        </select>  
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">NPS :</span>
                                    </div>
                                    <div class="input-group">
                                        <input id="inputFloatingLabel2" type="text" name="bnpd" class="form-control input-solid" required>   
                                    </div>
                                    <div class="input-group-btn">
                                        <select class="form-control" name="bnpd_unit" id="bnpd_unit">
                                            <option value="mm">mm</option>
                                            <option value="inch">inch</option>
                                        </select>   
                                    </div>
                                </div>                                 
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <div class="card" style="background:#484848">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">Wall Thickness :</span>
                                    </div>
                                    <div class="input-group-append">
                                        <select for="basic-addon3" class="form-control" name="b_thick">
                                            <option value="1">Sch 5</option>
                                            <option value="2">Sch 5S</option>
                                            <option value="3">Sch 10</option>
                                            <option value="4">Sch 10S</option>    
                                            <option value="5">Sch 20</option>
                                            <option value="6">Sch 30</option>
                                            <option value="7">Sch 40</option>
                                            <option value="8">Sch 40S</option>
                                            <option value="9">Sch 60</option>
                                            <option value="10">Sch 80</option>
                                            <option value="11">Sch 80S</option> 
                                            <option value="12">Sch 100</option>
                                            <option value="13">Sch 120</option>
                                            <option value="14">Sch 140</option>
                                            <option value="15">Sch 160</option>
                                            <option value="16">STD</option>
                                            <option value="17">XS</option>
                                            <option value="18">XXS</option>
                                        </select>   
                                    </div>
                                </div>
                            </div>    
                            <div class="form-group form-inline">
                                <div class="input-group">
                                    <div for="inlineinput" class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">Corrosion allowance :</span>
                                    </div>
                                    <input id="inlineinput" type="text" name="cb" class="form-control input-solid" required>  
                                    <div class="input-group-btn">
                                        <select class="form-control" name="h_ca_unit" id="h_ca_unit">
                                            <option value="mm">mm</option>
                                            <option value="inch">inch</option>
                                        </select>   
                                    </div>    
                                </div>
                            </div>    
                            <div class="form-group form-inline">
                                <div class="input-group">
                                    <div for="inlineinput" class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">Stress allowance :</span>
                                    </div>
                                    <input id="inlineinput" type="text" name="BStress" class="form-control input-solid" required>  
                                    <div class="input-group-btn">
                                        <select class="form-control" name="h_ca_unit" id="h_ca_unit">
                                            <option value="mm">psi</option>
                                            <option value="inch">bar</option>
                                        </select>   
                                    </div>    
                                </div>
                            </div>               
                        </div>
                    </div>  
                    <div class="col-md-4">
                        <div class="card" style="background:#484848">
                            <div class="form-group form-inline">
                                <div class="input-group">
                                    <div for="inlineinput" class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">Mill Tolerance :</span>
                                    </div>
                                    <input id="inlineinput" type="text" name="cb" class="form-control input-solid" required>  
                                    <div class="input-group-btn">
                                        <select class="form-control" name="MillTolerance" id="MillTolerance">
                                            <option value="%">%</option>
                                            <option value="mm">mm</option>
                                            <option value="inch">inch</option>
                                        </select>   
                                    </div>    
                                </div>
                            </div>     
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">Construction :</span>
                                    </div>
                                    <div class="input-group-append">
                                        <select for="inputFloatingLabel2" class="form-control" name="BranchConstruction">
                                          <option value="1">Seamless</option>
                                          <option value="2">EFW</option>
                                          <option value="3">ERW</option>
                                          <option value="4">FBW</option>
                                        </select>   
                                    </div>
                                </div>        
                            </div>                 
                        </div>     
                    </div>                                        
                </div>
                 <!-- End of Pipe Branch -->

                 <!-- Common Room -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card" style="background:#484848">
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="BRpsi" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Design Pressure :</label>
                            </div>    
                            <div class="form-group form-floating-label">
                                <input id="inputFloatingLabel2" type="text" name="temp" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Downhole Temperature :</label>
                            </div>                          
                        </div>     
                    </div> 
                    <div class="col-md-4">
                        <div class="card" style="background:#484848">
                            <div class="form-group form-floating-label">
                                <input id="BAngle" type="text" name="BAngle" class="form-control input-solid" required>
                                <label for="inputFloatingLabel2" class="placeholder">Branch Angle :</label>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">Minimum R-Pad Thickness :</span>
                                    </div>
                                    <div class="input-group">
                                        <input id="inputFloatingLabel2" type="text" name="min_r" class="form-control input-solid" required>   
                                    </div>
                                    <div class="input-group-btn">
                                        <select class="form-control" name="min_r_unit" id="min_r_unit">
                                            <option value="mm">mm</option>
                                            <option value="inch">inch</option>
                                        </select>   
                                    </div>
                                </div>   
                            </div>                            
                      
                        </div>     
                    </div>                     
                    <div class="col-md-4">
                        <div class="card" style="background:#484848">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="input-group-text" id="basic-addon3">Available R-Pad Thickness :</span>
                                    </div>
                                    <div class="input-group">
                                        <input id="inputFloatingLabel2" type="text" name="avail_r" class="form-control input-solid" required>   
                                    </div>
                                    <div class="input-group-btn">
                                        <select class="form-control" name="avail_r_unit" id="avail_r_unit">
                                            <option value="mm">mm</option>
                                            <option value="inch">inch</option>
                                        </select>   
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>                         
                    <div class="col-md-4" style="color: black">
                        <input type="submit" name="">
                    </div>
                </div>       
            </form>  

            <!-- Results -->
            <div class="row">
                <div class="col-md-4"> 
                    <div class="card-body">
                        <table class="table"  style="color: white">
                            <tbody>
                                <tr>
                                    <td>
                                        <div> 
                                        Label :     
                                        </div>
                                    </td>
                                    <td>
                                        <div>Results Panel
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Minimum header required thickness:
                                        </div>
                                    </td>
                                    <td>
                                        <div><label class="btn btn-success">{{ test }}  psi</label>   
                                        </div>
                                    </td>   
                                </tr>
                                <tr>
                                    <td>
                                        <div>Minimum branch required thickness:
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                        <label class="btn btn-success">{{ test1 }} psi</label>
                                        </div>  
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Is reinforcement required? 
                                    </td>
                                    <td>
                                        <label class="btn btn-success">{{ test2 }} ppg</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                  
                    
                </div>   
                 
        </div>             
    </section>
    <!-- End Professional Builde -->

    <!-- About Us Area -->
    <section class="about_us_area row" id="more-aboutus" >
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>ABOUT US</h2>
                <h4>Drilltech is a developing service for mobile oil and gas technical analysis founded in 2019 by Abdul Afolabi {{ test }}</h4>
            </div>
            <div class="row about_row">
                <div class="who_we_area col-md-7 col-sm-6">
                    <div class="subtittle">
                        <h2>WHO WE ARE</h2>
                    </div>
                    <p>We are freelance oil and gas service providers, looking to provide easy and free access to key technologies in the industry through this platform. We are continuously looking to expand the capacity of our team.</p>
                    <a href="#" class="button_all">Contact Now</a>
                </div>
                <div class="col-md-5 col-sm-6 about_client">
                    <img src="static/drilltool/images/about_client.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us Area -->

    <!-- What ew offer Area -->
    <!-- End What ew offer Area -->

    <!-- Our Features Area -->
    <!-- End Our Features Area -->

    <!-- Our Services Area -->
    <!-- End Our Services Area -->

    <!-- Our Team Area -->
    <section class="our_team_area">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>Our Team</h2>
                <h4>Our current dedicated team maintaining this platform are:</h4>
            </div>
            <div class="row team_row">
                <div class="col-md-3 col-sm-6 wow fadeInUp">
                   <div class="team_membar">
                        <img src="static/drilltool/images/team/tm-1.jpg" alt="">
                        <div class="team_content">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <a href="#" class="name">Abdul Afolabi</a>
                            <h6>Developer</h6>
                        </div>
                   </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                   <div class="team_membar">
                        <img src="static/drilltool/images/team/tm-2.jpg" alt="">
                        <div class="team_content">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                            <a href="#" class="name">Raya Kovacheva</a>
                            <h6>UX -  Designer</h6>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Team Area -->

    <!-- Our Achievments Area -->
    <section class="our_achievments_area" data-stellar-background-ratio="0.3">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>Our Achievments</h2>
                <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
            </div>
            <div class="achievments_row row">
                <div class="col-md-3 col-sm-6 p0 completed">
                    <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                    <span class="counter">800</span>
                    <h6>PROJECT COMPLETED</h6>
                </div>
                <div class="col-md-3 col-sm-6 p0 completed">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span class="counter">230</span>
                    <h6>HOUSE RENOVATIONS</h6>
                </div>
                <div class="col-md-3 col-sm-6 p0 completed">
                    <i class="fa fa-child" aria-hidden="true"></i>
                    <span class="counter">1390</span>
                    <h6>WORKERS EMPLOYED</h6>
                </div>
                <div class="col-md-3 col-sm-6 p0 completed">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <span class="counter">125</span>
                    <h6>AWARDS WON</h6>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Achievments Area -->

    <!-- Our Testimonial Area -->
    <!-- End Our testimonial Area -->

    <!-- Our Featured Works Area -->
    <section class="featured_works row" data-stellar-background-ratio="0.3">
        <div class="tittle wow fadeInUp">
            <h2>Our Featured Works</h2>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
        </div>
        <div class="featured_gallery">
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="static/drilltool/images/gallery/gl-1.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="static/drilltool/images/gallery/gl-2.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="static/drilltool/images/gallery/gl-3.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="static/drilltool/images/gallery/gl-4.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="static/drilltool/images/gallery/gl-5.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="static/drilltool/images/gallery/gl-6.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="static/drilltool/images/gallery/gl-7.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6 gallery_iner p0">
                <img src="static/drilltool/images/gallery/gl-8.jpg" alt="">
                <div class="gallery_hover">
                    <h4>Bolt Apartments</h4>
                    <a href="#">VIEW PROJECT</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Featured Works Area -->

    <!-- Our Latest Blog Area -->
    <section class="latest_blog_area" id="blog">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>Our Latest Blog</h2>
                <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
            </div>
            <div class="row latest_blog">
                <div class="col-md-4 col-sm-6 blog_content">
                    <img src="static/drilltool/images/blog/lb-1.jpg" alt="">
                    <a href="#" class="blog_heading">Our Latest Project</a>
                    <h4><small>by  </small><a href="#">Emran Khan</a><span>/</span><small>ON </small> October 15, 2016</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis iaculis velit in tristique. Curabitur ac urna urna. Sed sollicitudin at nisi sed accumsan... <a href="#">Read More</a></p>
                </div>
                <div class="col-md-4 col-sm-6 blog_content">
                    <img src="static/drilltool/images/blog/lb-2.jpg" alt="">
                    <a href="#" class="blog_heading">Our Latest Project</a>
                    <h4><small>by  </small><a href="#">Prodip Ghosh</a><span>/</span><small>ON </small> October 15, 2016</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis iaculis velit in tristique. Curabitur ac urna urna. Sed sollicitudin at nisi sed accumsan... <a href="#">Read More</a></p>
                </div>
                <div class="col-md-4 col-sm-6 blog_content">
                    <img src="static/drilltool/images/blog/lb-3.jpg" alt="">
                    <a href="#" class="blog_heading">Our Latest Project</a>
                    <h4><small>by  </small><a href="#">Prodip Ghosh</a><span>/</span><small>ON </small> October 15, 2016</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sagittis iaculis velit in tristique. Curabitur ac urna urna. Sed sollicitudin at nisi sed accumsan... <a href="#">Read More</a></p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Latest Blog Area -->

    <!-- Our Partners Area -->
    <section class="our_partners_area">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2>Our Partners</h2>
                <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
            </div>
            <div class="partners">
                <div class="item"><img src="images/client_logo/client_logo-1.png" alt=""></div>
                <div class="item"><img src="images/client_logo/client_logo-2.png" alt=""></div>
                <div class="item"><img src="images/client_logo/client_logo-3.png" alt=""></div>
                <div class="item"><img src="images/client_logo/client_logo-4.png" alt=""></div>
                <div class="item"><img src="images/client_logo/client_logo-5.png" alt=""></div>
            </div>
        </div>
        <div class="book_now_aera">
            <div class="container">
                <div class="row book_now">
                    <div class="col-md-10 booking_text">
                        <h4>Booking now if you need build your dream home.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="col-md-2 p0 book_bottun">
                        <a href="#" class="button_all">book now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our Partners Area -->
{% endblock %}    
