
{% extends 'base.html'  %}

{% block content %}
    <section class="container">
    	<div class="row">
    		<div class="col-md-6">
        		<img src="static/drilltool/images/refnote1.png" alt="Girl in a jacket">     			
    		</div>
    		<div class="col-md-6">
        		<img src="static/drilltool/images/refnote2.png" alt="Girl in a jacket">     			
    		</div>   
    		<div class="col-md-6">
        		<img src="static/drilltool/images/refnote3.png" alt="Girl in a jacket">     			
    		</div>       		 		
    	</div>
            
    </section>
{% endblock %}

{% block javascripts %}
	<script>
	</script>
{% endblock javascripts %}		