
{% extends 'base.html'  %}

{% block content %}
    <section class="container">
    	<div class="row">
    		<div class="col-md-6">
        		<img src="static/drilltool/images/refnote1.png" alt="First Page">     			
    		</div>
    		<div class="col-md-6">
        		<img src="static/drilltool/images/refnote2.png" alt="Second Page">     			
    		</div>          		 		
    	</div>
		<div class="col-md-6">
    		<img src="static/drilltool/images/refnote3.png" alt="Third Page">		
		</div>    	
    </section>
{% endblock %}

{% block javascripts %}
	<script>
	</script>
{% endblock javascripts %}		