
{% extends 'base.html'  %}

{% block content %}
    <section id="driller-calcRef" class="row bg-black">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2 style="color:white">DRILLER'S CALCULATION REFERENCE</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="static/drilltool/images/refnote1.png" alt="First Page">               
                </div>
                <div class="col-md-6">
                    <img src="static/drilltool/images/refnote2.png" alt="Second Page">              
                </div> 
                <div class="col-md-6">
                    <img src="static/drilltool/images/refnote3.png" alt="Third Page">       
                </div>       
            </div>           
        </div>
    </section>

    <section id="driller-calcRef" class="row bg-black">
        <div class="container">
            <div class="tittle wow fadeInUp">
                <h2 style="color:white">REINFORCEMENT CALCULATION REFERENCE</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="static/drilltool/images/ReinforcementRef.png" alt="First Page">     
                </div>    
            </div>           
        </div>
    </section> 
{% endblock %}

{% block javascripts %}
	<script>
	</script>
{% endblock javascripts %}		